(ns konserve-firebase.test-env)

;; Edit me and copy me

;; Go to your project overview and retrieve the web configuration
;; https://console.firebase.google.com/project/my-project/overview
;; This file is gitignore for obvious reasons.
(def firebase-config
  {:apiKey            "AI..."
   :authDomain        "my-project.firebaseapp.com"
   :databaseURL       "https://my-project.firebaseio.com"
   :storageBucket     "my-project.appspot.com"
   :messagingSenderId "16..."})

;; This is the prefix for every paths used during testings
;; Setup your firebase database security rules so that this
;; is readable by non-auth'd user.
(def prefix
  "tests")
